<div class="card">
    <div class="card-body">

        <h3>Details : </h3>

        <label>Nom : </label><br />
        <strong>@MonJeu.Nom</strong><br />

        <label>Genre : </label><br />
        <strong>@MonJeu.Genre</strong><br />

        <label>Date de Sortie : </label><br />
        <strong>@MonJeu.DatedeSortie.ToString("dd MMMM yyyy")</strong><br />

        <label>Note : </label><br />
        <strong>@MonJeu.Note / 5</strong>

    </div>
</div>

@code {
}
